html, body {
    background-color: rgb(247, 247, 247);
}

.title {
    text-align: center;
}

/* hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
} */

hr {
    overflow: visible; /* For IE */
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
hr:before {
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

/* Thank YouPage */

.thanksContainer {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.alert-success hr {
    border-top-color: black
}

ol li {
    margin-bottom: 1rem;
}

.alert-heading {
    text-align: center;
}

.alert .alert-heading {
    margin: 1rem 0 1rem 0;
}